In [31]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [32]:
import numpy as np
import pandas as pd
import datetime as dt

In [33]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [34]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [35]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [36]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [37]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [38]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [39]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from today
#The directions are confusing so I'm just going to take the last date and go back 12 months
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [42]:
# Perform a query to retrieve the data and precipitation scores
precip_data = pd.read_sql("SELECT date, prcp FROM Measurement WHERE date >= '2016-08-23'",conn)
precip_data.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [41]:
# Save the query results as a Pandas DataFrame and set the index to the date column
precip_data['date'] = pd.to_datetime(prcp_data['date'])
prcp_data.set_index('date', inplace=True)
prcp_data.head()

            prcp
date
2016-08-23  0.00
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00