In [52]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [53]:
import numpy as np
import pandas as pd
import datetime as dt

In [54]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [55]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [56]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [57]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [58]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [59]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [60]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Calculate the date 1 year ago from today
#The directions are confusing so I'm just going to take the last date and go back 12 months
session.query(Measurement.date).order_by(Measurement.date.desc()).first()

('2017-08-23')

In [61]:
# Perform a query to retrieve the data and precipitation scores
precip_data = pd.read_sql("SELECT date, prcp FROM Measurement WHERE date >= '2016-08-23'",conn)
precip_data.head()

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [62]:
# Save the query results as a Pandas DataFrame and set the index to the date column
precip_data['date'] = pd.to_datetime(precip_data['date'])
precip_data.set_index('date', inplace=True)
precip_data.head()

            prcp
date
2016-08-23  0.00
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00

In [63]:
# Sort the dataframe by date
precip_data.sort_values(by='date')

            prcp
date
2016-08-23  0.00
2016-08-23   NaN
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
...          ...
2017-08-22  0.00
2017-08-23  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.45

[2230 rows x 1 columns]

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data
x_axis = np.arange(len(precip_data))
plt.bar(x_axis, precip_data["prcp"], color='b', alpha=0.5, align="edge")
plt.tick_params(axis='x', which='both', bottom=False, top=False, labelbottom=False)
plt.title("Precipitation in Hawaii from 8/23/16-8/23/17")
plt.ylabel("Inches of Rain")
plt.xlabel("Date")
plt.show()
# Rotate the xticks for the dates